FUNCTIONS

In [ ]:
# Functions >> print,len,type >> input python function
# Ceil >> roof >> nearest highest whole number value
# Floor >> grund >> nearest lowest whole number value

In [ ]:
import math as m # math(library) is a collection of function

In [2]:
import math as m
m.ceil(6.5)

7

In [3]:
m.floor(6.5)

6

In [ ]:
# function >> inbuilt function
# user defined function
# syntax of function
# def function():
# do something >> body of function
# Function is a block of code which performs some specific task / computation
# Why function ? >> functions(code) are reusable,neat,clean adn organised, saves your time as well

In [4]:
print("welcome to office Rahul")
print("welcome to office Shyam")
print("welcome to office Anshika")

welcome to office Rahul
welcome to office Shyam
welcome to office Anshika

In [7]:
def greetings():
  print("welcome to the office")
greetings()

welcome to the office

In [10]:
print("hello world") # In print, you call function by name, print() and provide a value inside paranthesis

hello world

In [11]:
def greetings(name):  # passing a variable inside a function name is positional arguement.
  print("welcome to the office",name)
greetings("yuvraj")

welcome to the office yuvraj

In [12]:
greetings("chaudhary")

welcome to the office chaudhary

In [13]:
greetings() # It will throw an error

TypeError: greetings() missing 1 required positional argument: 'name'

In [21]:
def greetings(yuvraj):
  print("welcome to the office",yuvraj)

In [22]:
greetings("sumit")

welcome to the office sumit

In [23]:
greetings("Ritesh")

welcome to the office Ritesh

In [25]:
def func():
  print("This is my first function")
func()

This is my first function

In [27]:
"This is my first function" + " in python"

'This is my first function in python'

In [28]:
func() + "in python" # throw an error

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [30]:
print(type(func()))

This is my first function
<class 'NoneType'>

In [32]:
def func():
  return "This is my first function"
func() + " in python"

'This is my first function in python'

In [33]:
def func():
  return "This is my first function",1,2.2,True,3+7j
func()

('This is my first function', 1, 2.2, True, (3+7j))

In [35]:
a = func()
type(a)

tuple

In [36]:
a,b,c,d,e = func()
a

'This is my first function'

In [37]:
b

1

In [38]:
c

2.2

In [39]:
d

True

In [40]:
e

(3+7j)

In [42]:
a,b,c,d = func()

ValueError: too many values to unpack (expected 4)

In [43]:
a = func()
a

('This is my first function', 1, 2.2, True, (3+7j))

In [44]:
a[0]

'This is my first function'

In [45]:
a[1]

1

In [46]:
a[2]

2.2

In [47]:
a[3]

True

In [48]:
a[4]

(3+7j)

In [51]:
def func():
  calc = 2+3+6*5
  return calc
func()

35

In [52]:
type(func())

int

In [54]:
def square_number(a):
  return a*a
square_number(5)

25

In [55]:
square_number(1000)

1000000

In [58]:
def square_number(args):
  return args*args
square_number(106)

11236

In [59]:
def addition(a,b):
  return a+b
addition(5,6)

11

In [60]:
addition(11,20)

31

In [62]:
addition("PW"," skills")

'PW skills'

In [63]:
"PW" + " skills"

'PW skills'

In [64]:
addition([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [65]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [67]:
addition("skills"," pw")

'skills pw'

In [69]:
# a and b are positional arguements >> it maintains order
addition (b= "skills",a = "pw")

'pwskills'

In [74]:
def sum1 (a,b,c):
    return a+b+c
sum1(1,2,3)

6

In [79]:
# default arguement
def sum1(b, c, a=0):
  return a+b+c
sum1(b=3, c=5, a=5)

13

In [80]:
def sum1 (a,b,c):
  return a+b+c
sum1 (1,2)

TypeError: sum1() missing 1 required positional argument: 'c'

In [81]:
def sum1 (a,b,c=0): # default arguement is passed to function in the last
  return a+b+c
sum1(5,6)

11

In [82]:
def sum1 (a=0,b,c):
  return a+b+c

SyntaxError: parameter without a default follows parameter with a default (ipython-input-3763573768.py, line 1)

In [84]:
def sum1(b=0,c=0,a=0):
  return a+b+c
sum1(1)

1

In [85]:
sum1 (1,2,3)

6

In [87]:
def sum1 (b=5,c=0,a=0):
  return a+b+c
sum1()

5

In [88]:
def sum1 (b=5,c=0,a=0):
  return a+b+c
sum1()

5

In [89]:
sum1(c=1)

6

In [90]:
sum1(a=1)

6

In [92]:
def add_two_number():
  a = int(input("enter first number "))
  b = int(input("enter second number "))
  return a+b
add_two_number()

enter first number 7
enter second number 8

15

In [93]:
# write a function that takes list as input and return all numeric values in a list
type("yuvraj")

str

In [102]:
def only_numeric(a):
  n = []
  for i in a:
    if type(i) == int or type(i) == float:
      n.append(i)
      return n

In [103]:
only_numeric([1,2.2,"yuvraj",True,3+7j,"pwskills",5+6j])

[1, 2.2]

In [104]:
# now in input take nested list
only_numeric([1,2.2,"yuvraj",True,3+7j,"pwskills",5,6,[100,101,"yuvraj"]])

[1, 2.2, 5, 6]

In [105]:
def only_numeric(a):
  n=[]
  for i in a:
    if type (i) == list:
      for j in j:
        if type(j) == int or type(j) == float:
          n.append(j)
        else:
          if type(i)==int or type(i) == float:
            n.append(i)
            return n

In [108]:
def only_numeric(a):
  n=[]
  for i in a:
    if type (i) == list:
      for j in i:
        if type(j) == int or type(j) == float:
          n.append(j)
    else:
      if type(i)==int or type(i) == float:
        n.append(i)
  return n

In [109]:
only_numeric([1,2.2,"yuvraj",True,3+7j,"pwskills",5,6,[100,101,"yuvraj"]])

[1, 2.2, 5, 6, 100, 101]

In [110]:
def sum1(a,b):
  return a+b

In [111]:
sum1 (2,3)

5

In [113]:
sum1 (2,3,4)

TypeError: sum1() takes 2 positional arguments but 3 were given

In [ ]:
# variable length arguement >> when you don't know the number of arguement.

In [122]:
def sum1(*args):
  return args

In [123]:
sum1(1,2,3)

(1, 2, 3)

In [125]:
sum1(1,2)

(1, 2)

In [126]:
sum1(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# A function which can take anu number of values and return the sum

In [132]:
def sum1 (*args):
  s = 0
  for i in args:
    s = s + i
    return 5

In [133]:
sum1(1,2,3)

5

In [134]:
for i in (1,2,3,4,5,6,7):
  print(i)

1
2
3
4
5
6
7

In [136]:
# variable arguement with default arguement
def test (*args,a):
  return args;a

In [137]:
  test(1,2,3,4,a = "Ram")

(1, 2, 3, 4)

In [138]:
test(1,2,3,4)

TypeError: test() missing 1 required keyword-only argument: 'a'

In [ ]:
# variable arguement >> takes any number of arguement
# positional arguement >> fixed arguement
# write a function cna take any number of values and returns the list

In [141]:
from re import L
def return_list(*args): # Added colon
  L = []
  for i in args:
    if type(i) == list:
      L.append(i)
  return L

In [142]:
return_list(1,2,2.3,5+7j,{2,3},[1,2,3,4],(2,3),True,"yuvraj")

[[1, 2, 3, 4]]

In [143]:
# variable length arguement and keyword arguement together
def test1 (*args,**args1):
  return args,args1

In [144]:
test1(1,2,3,4,a=100,b=50)

((1, 2, 3, 4), {'a': 100, 'b': 50})

In [145]:
test1()

((), {})

In [146]:
def test1(*yuvraj,**chaudhary):
  return yuvraj,chaudhary

In [147]:
test1(1,2,3,4,a=100,b=50)

((1, 2, 3, 4), {'a': 100, 'b': 50})

In [148]:
# python namespace
def greet():
  message = "hello,welcome!" # message variable is a local variable(scope is only inside the function)
  print(message)

In [149]:
greet()

hello,welcome!

In [150]:
print(message)

NameError: name 'message' is not defined

In [153]:
subpart= "to the course" # global variable >> can be accessed outside the function as well
def greet():
  message = "hello,welcome " + subpart
  print(message)
greet()

hello,welcome to the course

In [154]:
print(message)

NameError: name 'message' is not defined

In [ ]:
# local variable >> a function defined inside a function should  be accessed in the function only
# global variable >> accessed anywhere
# namespace >> scope of variables

In [160]:
# function insise function
def marks_in_subject(**kwargs):
  marks_list = []
  for sub,marks in kwargs.items():
    marks_list.append(marks)
  return marks_list
marks_in_subject(a=90,b=20)

[90, 20]

In [162]:
def marks_in_subject(**kwargs):
  def total_marks(marks_list):
    return sum(marks_list)
    for sub,marks in kwargs.items():
      marks_list.append(marks)
  return total_marks(marks_list)
sum([90,20])

110

In [167]:
def total_marks(marks_list):
  return sum(marks_list)

def marks_in_subject(**kwargs):
  marks_list = []
  for sub,marks in kwargs.items():
    marks_list.append(marks)
  return total_marks(marks_list)


marks_in_subject(a=90,b=40,c=30,d=100)

260

In [169]:
def find_power(num,power):
  return num*power
find_power(3,50)

150

In [174]:
def find_power(num,power):
  """ This function returns the power of a number.

  Args:
    num (int): Provide any integer as input.
    power (int): Provide power as an integer.

  Returns:
    int: The result of num raised to the power.
  """
  return num**power

In [175]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    This function returns the power of a number.

    Args:
      num (int): Provide any integer as input.
      power (int): Provide power as an integer.

    Returns:
      int: The result of num raised to the power.

In [176]:
print(find_power.__doc__)

 This function returns the power of a number.

  Args:
    num (int): Provide any integer as input.
    power (int): Provide power as an integer.

  Returns:
    int: The result of num raised to the power.