Data Types and Structures Questions

1. What are data structures, and why are they important?
- A data structure is a systematic way of organizing, managing, and storing data in a computer so it can be used efficiently.

Importance of data structures:

1. Efficiency: They allow faster access, retrieval, and modification of data.

2. Problem-solving: Different problems need different structures (e.g., graph for social networks, queue for task scheduling).

3. Memory management: They help in utilizing memory space effectively.

4. Algorithm foundation: Most algorithms are built on top of specific data structures.

5. Real-world applications: Used in databases, operating systems, compilers, and almost every software system.

- Simple analogy: Think of data structures as tools in a toolbox. Choosing the right tool makes solving a problem easier and faster.

2. Explain the difference between mutable and immutable data types with examples ?

- In Python, data types are classified into mutable and immutable depending on whether their values can be changed after creation.

1. Mutable Data Types

Definition: Values can be changed or modified after the object is created.

Examples:

List → numbers = [1, 2, 3] → numbers[0] = 10 → Now numbers = [10, 2, 3].

Dictionary → student = {"name": "Raj", "age": 20} → student["age"] = 21 → Updated dictionary.

Key idea: Memory address remains the same, but content changes.

2. Immutable Data Types

Definition: Values cannot be changed once the object is created. Any modification creates a new object.

Examples:

String → name = "Hello" → name[0] = "J" ❌ (not allowed).

Tuple → t = (1, 2, 3) → cannot update t[0].

Numbers (int, float) → x = 5 → x = x + 1 creates a new object (6), not modifies the old one.

3. What are the main differences between lists and tuples in Python ?
- A list in Python is a collection of items that can be changed, while a tuple is a similar collection but cannot be modified once created.

Mutability: Lists are mutable; tuples are immutable.

Syntax: Lists use square brackets [], tuples use parentheses ().

Performance: Tuples are faster and consume less memory compared to lists.

Use case: Lists are preferred for data that changes frequently, while tuples are used for fixed data.

Example:

In [5]:
my_list = [1, 2, 3]
my_list[0] = 10   # Works
my_list

[10, 2, 3]

In [7]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10   # Error (cannot modify)
# my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

4. Describe how dictionaries store data ?
- A dictionary in Python stores data as key–value pairs. Each key is unique, and it acts like an index to access its corresponding value.

Internally, dictionaries use a hashing mechanism.

When you give a key, Python calculates its hash value and finds where to store/retrieve the value in memory.

This makes lookups, insertions, and deletions very fast (on average O(1) time complexity).

Example:

In [8]:
student = {"name": "Anita", "age": 21, "grade": "A"}

print(student["name"])
print(student["grade"])

Anita
A

So, dictionaries behave like a real-life address book:

You don’t look for a person by position, but directly by their name (key) to get the phone number (value).

5. Why might you use a set instead of a list in Python ?
- You would use a set when:

You need to store unique values only (no duplicates).

You don’t care about the order of elements.

You want fast membership checking (testing if an item exists).

Example:

In [9]:
nums_list = [1, 2, 2, 3, 4]
nums_set = {1, 2, 2, 3, 4}

print(nums_list)  # [1, 2, 2, 3, 4]
print(nums_set)   # {1, 2, 3, 4}  (duplicates removed)

[1, 2, 2, 3, 4]
{1, 2, 3, 4}

6. What is a string in Python, and how is it different from a list ?
- A string in Python is a sequence of characters enclosed in single quotes ('), double quotes (") or triple quotes (''' """).
Example:

In [12]:
text = "Hello World"
text

'Hello World'

How it differs from a list:

A string is specifically for textual data, while a list can hold any type of objects (numbers, strings, other lists, etc.).

Strings are immutable → once created, their contents cannot be changed.

Lists are mutable → you can add, remove, or update elements.

Example:

In [13]:
word = "cat"
word[0] = "b"   # ❌ Error (string is immutable)

TypeError: 'str' object does not support item assignment

In [14]:
my_list = ["c", "a", "t"]
my_list[0] = "b"
print(my_list)

['b', 'a', 't']

In short: String = fixed sequence of characters; List = flexible container of many objects.

7. How do tuples ensure data integrity in Python ?
- Tuples in Python are immutable, meaning once a tuple is created, its values cannot be changed, added, or removed.

Because of this immutability:

- Data stored in a tuple remains fixed and safe from accidental modification.

- Tuples can be used as keys in dictionaries (lists cannot), since their contents are guaranteed not to change.

- They are reliable for storing constant data like geographic coordinates, configuration values, or days of the week.

In short: Tuples ensure data integrity by locking the data, so it stays exactly the same throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key–value pairs using a hashing function. The hash function converts a key into an index that decides where the value is stored in memory.

In Python:

- A dictionary is implemented internally using a hash table.

- When you write my_dict["name"], Python calculates the hash of "name" and uses it to quickly find the value.

- This makes dictionary operations like lookup, insertion, and deletion very fast (average O(1) time).

Example:

In [15]:
person = {"name": "Amit", "age": 25}

print(person["name"])  # Python hashes "name" -> finds value "Amit"

Amit

In short:

Hash table = concept / data structure

Dictionary = Python’s built-in implementation of a hash table

9. Can lists contain different data types in Python?
- Yes
Python lists are heterogeneous, which means they can hold elements of different data types in the same list.

Example:

In [16]:
my_list = [10, "hello", 3.14, True]

print(my_list)

[10, 'hello', 3.14, True]

10. Explain why strings are immutable in Python?
- Strings are immutable in Python, which means once a string is created it cannot be changed. The main reason for this is memory efficiency and security. If two variables refer to the same string and one of them modifies it, the other would also change — immutability prevents this problem.

Another reason is that strings are often used as keys in dictionaries or stored in sets. For this to work, the string must always stay the same (hashable). By making them immutable, Python ensures that strings are safe, reliable, and consistent throughout the program.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries are more useful than lists when we need to store and access data using a key instead of an index. In a list, to find an item you may have to search through the whole list, but in a dictionary you can directly access the value using its key.

They also allow data to be stored in key–value pairs, which makes the code more readable and meaningful. For example, storing a student’s details in a dictionary with keys like "name" or "age" is clearer than remembering their positions in a list.

Another big advantage is speed. Dictionaries are built on hash tables, so lookups and updates are much faster compared to searching in a list.

12. Describe a scenario where using a tuple would be preferable over a list ?
- A tuple is preferable when the data should not change during the program. For example, storing the coordinates of a location (28.61, 77.20) makes sense as a tuple because these values are fixed. If the same data was stored in a list, it could accidentally be modified, which would be incorrect.

Tuples are also faster and can be used as keys in dictionaries, while lists cannot. So whenever the data is constant and needs protection from changes, tuples are a better choice than lists.

13. How do sets handle duplicate values in Python ?
- In Python, sets automatically remove duplicate values. When a set is created, if the same element appears more than once, only one copy of it is stored. This is because sets are designed to contain only unique elements.

For example:

In [17]:
nums = {1, 2, 2, 3, 4}
print(nums)

{1, 2, 3, 4}

The output will be {1, 2, 3, 4} because the duplicate 2 is removed.

So, sets ensure that all values inside them are unique without the need for extra code.

14. How does the “in” keyword work differently for lists and dictionaries ?
- In Python, the in keyword is used to check membership, but it behaves differently for lists and dictionaries.

For lists, in checks whether a value exists as an element of the list.

In [18]:
nums = [1, 2, 3]
print(2 in nums)
print(5 in nums)

True
False

For dictionaries, in checks only the keys, not the values.

In [19]:
student = {"name": "Asha", "age": 20}
print("name" in student)
print("Asha" in student)

True
False

15. Can you modify the elements of a tuple? Explain why or why not ?
- No, you cannot modify the elements of a tuple in Python. Tuples are immutable, which means once they are created, their contents cannot be changed. You cannot add, remove, or update items inside a tuple.

The reason behind this immutability is to ensure that the data stored in a tuple remains fixed and secure. This property also allows tuples to be used as dictionary keys or stored in sets, something lists cannot do.

If you try to change a tuple element directly, Python will raise an error.

Example:

In [20]:
t = (1, 2, 3)
t[0] = 10   # Error: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case ?
- A nested dictionary is a dictionary inside another dictionary. It allows us to store data in multiple levels, where each key can hold another dictionary as its value.

This is useful when we want to represent structured data. For example, storing student details where each student has their own dictionary of information:

In [21]:
students = {
    "101": {"name": "Ravi", "age": 20, "grade": "A"},
    "102": {"name": "Meena", "age": 21, "grade": "B"}
}

print(students["101"]["name"])

Ravi

In this case, the outer dictionary holds student IDs, and each ID maps to another dictionary containing details of that student.

17. Describe the time complexity of accessing elements in a dictionary ?
- In Python, accessing elements in a dictionary is very fast because it uses a hash table internally. On average, the time complexity of accessing a value using its key is O(1), which means constant time regardless of the size of the dictionary.

However, in the worst case (when many keys end up with the same hash due to collisions), the time complexity can go up to O(n), but this is very rare because Python handles collisions efficiently.

So, practically speaking, dictionary lookups are considered constant-time operations.

18. In what situations are lists preferred over dictionaries ?
- Lists are preferred when the data does not need key–value mapping and can simply be stored in an ordered sequence. They are useful when:

The order of elements matters.

- The same value can appear more than once (duplicates are allowed in lists).

- You only need to access items by their position (index).

- The dataset is small and does not require fast lookups with keys.

Example:
A list is better for storing a group of numbers like exam scores:

In [24]:
scores = [78, 85, 92, 85, 69]

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

- Dictionaries are considered unordered because the elements are stored based on their hash values, not by the order in which you insert them. In older versions of Python (before 3.7), the insertion order was not even preserved.

This means you cannot rely on the position of items in a dictionary like you can with a list. Instead, you always access values by their keys.

For example:

In [25]:
student = {"name": "Kiran", "age": 21, "grade": "A"}
print(student["age"])

21

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, data is retrieved using the index position of an element. This means you must know where the item is stored.
 For example:

In [26]:
colors = ["red", "blue", "green"]
print(colors[1])

blue

In a dictionary, data is retrieved using a key instead of a position. This makes it faster and more meaningful because you don’t have to remember the order.

In [27]:
student = {"name": "Arjun", "age": 20}
print(student["name"])

Arjun

So, lists are best when order and position matter, while dictionaries are best when you want quick access using descriptive keys.

PRACTICAL QUESTIONS

1. Write a code to create a string with your name and print it.

In [28]:
# creating a string with my name
name = "Yuvraj"
print(name)

Yuvraj

2. Write a code to find the length of the string "Hello World".

In [30]:
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [32]:
text = "Python Programming"

# slicing first 3 characters
first_three = text[:3]

print( first_three)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [34]:
text = "hello"

# converting to uppercase
upper_text = text.upper()

print( upper_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [35]:
text = "I like apple"

# replacing 'apple' with 'orange'
new_text = text.replace("apple", "orange")

print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [36]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [37]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [38]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [39]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [40]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [41]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [42]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [44]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [46]:
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print(index_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [48]:
fruits = ("apple", "banana", "mango")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [49]:
letters = {'a', 'b', 'c'}
print(letters)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [50]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [51]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [52]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [53]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [54]:
person = {
    "name": "Yuvraj",
    "age": 20,
    "city": "Delhi"
}
print(person)

{'name': 'Yuvraj', 'age': 20, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [55]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [57]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [58]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [59]:
person = {'name': 'Alice', 'city': 'Paris'}
has_city = 'city' in person
print(has_city)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [60]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"name": "Alice", "age": 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [63]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[2, 25, 25, 37, 74]

28. Write a code to create a list with strings and print the element at the third index.

In [64]:
fruits = ["apple", "banana", "cherry", "mango", "kiwi"]
third_index_element = fruits[3]
print(third_index_element)

mango

29. Write a code to combine two dictionaries into one and print the result.

In [66]:
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [68]:
fruits_list = ["apple", "banana", "cherry", "apple", "banana"]
fruits_set = set(fruits_list)
print(fruits_set)

{'apple', 'banana', 'cherry'}