OOPS

In [1]:
# oops >> object oriented programming system
a = 5
a

5

In [2]:
print(type(a))

<class 'int'>

In [3]:
b = 4
print(type(b))

<class 'int'>

In [4]:
s = "pwskills"
print(type(s))

<class 'str'>

In [5]:
# classes are blueprint/template for creating on object
# we are different objects of class human being
# gujiya maker, thekua maker
# class car is nothing but a template
class car:   # naming convention >> upper camel case
  pass

c1 = car()  # instance/object
print(type(c1))

<class '__main__.car'>

In [ ]:
# why oops ? we already had function
# a project can have many components ; say backend (f1,f2), frontened (f3,f4), data pipeline (f5, f6)
# def f1():
# pass

# def f6():
# pass

# def f4():
# pass

# def f2():
# pass

# def f5():
# pass

# def f3():
# pass

In [ ]:
# If a backend developer wants to work/change some backend function >> all the function are at one place

# oops helped you to arrange the required functions in respective classes

In [6]:
class car:  # function/method of a car
  pass
  c1 = car()
  print(type(c1))
  class car:
    def accelerate():
      print("car is accelerating")

<class '__main__.car'>

In [ ]:
# self >> a variable that represent instance of the class using which you can access method/function of class, also attribute/property/data of the class
# self makes sure that each object knows that the method is associated with it

In [11]:
c1 = car()

In [8]:
c1.accelerate # It will throw an error

AttributeError: 'car' object has no attribute 'accelerate'

In [10]:
class car: # function/method of a car
  def accelerate(self):
    print("car is accelerating")

In [12]:
c1 = car()
c1.accelerate()

car is accelerating

In [13]:
c2 = car()
c2.accelerate()

car is accelerating

In [18]:
# in other words the method is referenced to that particular object
class car:
  def accelerate(self):
    print("car is accelerating")
  def brake(self):
    print("car is stopping")

In [19]:
c1 = car()
c1.brake()

car is stopping

In [20]:
c1.accelerate()

car is accelerating

In [21]:
class bank:
  def deposit(yuvraj):
    print("I am depositing the money")

In [23]:
c1 = bank()
c1.deposit()

I am depositing the money

In [ ]:
# self is not python keyword, you can pass any variable name
# best practice is to pass self

In [29]:
class bank:
  def deposit(self):
    print("I am depositing the money")
  def withdraw(self):
    print("I am trying to withdraw money")

In [30]:
c1 = bank()
c1.deposit()
c1.withdraw()

I am depositing the money
I am trying to withdraw money

In [31]:
c2 = bank()
c2.deposit()

I am depositing the money

In [37]:
# passing data in the class >> can also be called as property/attribute.
class bank:
  def deposit(self, amount):
    print("I am depositing the money")
  def withdraw(self, amount_withdraw):
    print("I am trying to withdraw money")

In [39]:
yuvraj = bank()
yuvraj.deposit(1000) # Added an argument for the amount

I am depositing the money

In [41]:
yuvraj.withdraw(500)

I am trying to withdraw money

In [42]:
# bank will ask for a default amount, amount is attribute/property/data of class bank
class bank:
  amount =  1000
  def deposit(self, amount):
    print("I am depositing the money")
  def withdraw(self, amount_withdraw):
    print("I am trying to withdraw money")

In [43]:
yuvraj = bank()
yuvraj.deposit(500)

I am depositing the money

In [ ]:
# attributes/property can be also accessed the same way as methods/functions are accessed

In [44]:
yuvraj.amount

1000

In [55]:
# extract odd and even number from a list
class Listops:
  l = [1,2,3,4,5]
  def extract_even(self,l):
    l1 = []
    for i in l:
      if i%2 == 0:
        l1.append(i)
    return l1

  def extract_odd(self, l):
    l1 = []
    for i in l:
      if i%2 != 0:
        l1.append(i)
    return l1

In [56]:
ops1 = Listops()
ops1.l

[1, 2, 3, 4, 5]

In [57]:
ops1.extract_even(ops1.l)

[2, 4]

In [58]:
ops1.extract_odd([8,11,12,14])

[11]

In [59]:
# if you make any object the attribute l is fixed
ops1.l

[1, 2, 3, 4, 5]

In [60]:
# despite of passing a different list above you are still getting the fixed l ([1,2,3,4,5])
ops1.l

[1, 2, 3, 4, 5]

In [ ]:
# you want to take the attribute value of the class for each object differently

In [72]:
class Listops:
  def __init__(self, l): # magic method/dunder method init means initialisation >> of value.
    self.l=l

  def extract_even(self): # be careful as init has been used only pass self in the method and not the variable again.
    l1 = []
    for i in self.l:
      if i%2 == 0:
        l1.append(i)
    return l1


  def extract_odd(self):
    l1 = []
    for i in self.l:
      if i % 2 != 0:
        l1.append(i)
    return l1

In [64]:
ops1 = Listops()  # throw an error, while making object/instance of the class, the first method that is executed is __init__

TypeError: Listops.__init__() missing 1 required positional argument: 'l'

In [65]:
# and init needs arguement(l)
opsl = Listops([1,10,30,31,4,5])
ops1.l

[1, 2, 3, 4, 5]

In [68]:
ops2 = Listops([1,1,1,30,31,4,5])
ops2.l

[1, 1, 1, 30, 31, 4, 5]

In [69]:
ops1:extract_even() # throw an error see the explanation below

NameError: name 'extract_even' is not defined

In [73]:
ops1 = Listops([1,8,9,11,12])
ops1.extract_odd()

[1, 9, 11]

In [74]:
ops1.extract_even()

[8, 12]

In [ ]:
# multiple atributes
# In a library a book is associated with author, title, name

In [78]:
class book:
  def __init__(self,name,author,title):
    self.name_of_book = name
    self.book_author = author
    self.title_name = title

  def extract_details_name_title(self):
    print(self.name_of_book, self.title_name)

  def extract_details_name_author(self):
    print(self.name_of_book, self.book_author)

In [79]:
student1 = book("ML","murphy","Linear regression")
student1.extract_details_name_author()

ML murphy

In [80]:
student1.extract_details_name_title()

ML Linear regression

In [81]:
student2 = book("stats","joss","descriptive stats")
student2.extract_details_name_author()

stats joss

In [84]:
# multiple attributes
# in a library a book is associated with author, title, name
# every variable is fixed
class book:
  def __init__(self):
    self.name_of_book = "DSA"
    self.book_author = "cormen"
    self.title_name = "stacks"

  def extract_details_name_title(self):
    print(self.name_of_book, self.title_name)

  def extract_details_name_author(self):
    print(self.name_of_book, self.book_author)

In [85]:
student1 = book()
student1.extract_details_name_author()

DSA cormen

In [87]:
student2 = book()
student1.extract_details_name_title()

DSA stacks