LOOPS

In [ ]:
# Loops statement >> It allows you to execute a block of code repeatedly
# Loops >> while loop and for loops
# while >> repeatedly executed a block of code until a condition is met
# syntax
# while condition >> is a keyword used for a while loop

In [ ]:
n = 7
i = 1
while i < n:
  print(i)
  i = i + 1

1
2
3
4
5
6

In [ ]:
count = 5
while count > 0:
  print(count)
  count = count - 1

5
4
3
2
1

In [ ]:
n = 7
i = 1
while i <= n:
  print(i)
  i = i + 1
else:
  print("This will be executed when the while is run successfully without any break")

1
2
3
4
5
6
7
This will be executed when the while is run successfully without any break

In [ ]:
# break terminates / exists the loop
n = 7
i = 1
while i <= n:
  print(i)
  i = i + 1
  if i == 3:
    break
else:
    print("This will be executed when the while is run successfully without any break")

1
2

In [ ]:
# continue >> skips the iteration
n = 7
i = 1
while i <= n:
  i = i + 1
  if i == 3:
    continue
  print(i)
else:
    print("This will be executed when the while is run successfully without any break")

2
4
5
6
7
8
This will be executed when the while is run successfully without any break

In [ ]:
# for loops >> iterate over a sequence of elements >> strings, list
for i in "yuvraj":
  print(i)

y
u
v
r
a
j

In [ ]:
a = "yuvraj"
for i in a:
  print(i)

y
u
v
r
a
j

In [ ]:
l = [1,2,"yuvraj","chaudhary"]
for i in l:
  print(i)

1
2
yuvraj
chaudhary

In [ ]:
for i in l:
  print(i)
else:
  print("This will be executed when for loop ends without a break statement")

1
2
yuvraj
chaudhary
This will be executed when for loop ends without a break statement

In [ ]:
# break statement i for loop
for i in l:
  if i == "yuvraj":
    break
  print(i)
else:
  print("This will be executed when for loops ends without a break statement")

1
2

In [ ]:
for i in l:
  if i == "yuvraj":
    continue
  print(i)
else:
  print("This will be executed when for loop ends without a break statement")

1
2
chaudhary
This will be executed when for loop ends without a break statement

In [ ]:
list(range(0,10)) #It will give value from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range (10):
  print(i,end = " ")

0 1 2 3 4 5 6 7 8 9

In [4]:
# syntax of range (start ,stop, step)
list(range (0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
for i in range (10):
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [35]:
# print a right triangle with * using for loop
for i in range (4):
  for j in range (i + 1):
   print(("*"), end = "")
  print()

*
**
***
****

In [23]:
number = [1,2,3,4,5,6,7,8,9]
for num in number:
  if (num == 3) or (num == 7):
    continue
  print(num)

1
2
4
5
6
8
9

In [11]:
number = [1,2,3,4,5,6,7,8,9]
for num in number:
  if(num == 3) or (num == 7):
    break
  print(num)

1
2

In [21]:
# print the even number
for i in range (10):
  if i % 2 != 0:
    continue
  print(i)

0
2
4
6
8

In [20]:
# print odd number
for i in range (10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [29]:
# multiplication case
for i in range(1,6):
  for j in range(1,11):
    product = i * j
    print(f"{i}*{j}={product}")
print()

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50